$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$background-color: #ffffff;
$border-color: rgba(0, 0, 0, .12);
$total-background-color: #663ab7;
$total-font-color: #ffffff;
$base-dimension: 16px;
$min-width: 380px;
$border-radius: 2px;
$original-value-color: #f44336;

.ts-list {
  display: flex;
  justify-content: center;
  margin-top: $base-dimension;
  background: $background-color;
  max-width: $min-width;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      padding: $base-dimension;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: calc(100% - #{$base-dimension * 2});
        background: $border-color;
        bottom: 0;
      }

      &:last-child {
        border-bottom: none;
        background: $total-background-color;
        color: $total-font-color !important;

        &:after {
          display: none;
        }

        p {
          display: flex;
          justify-content: space-between;
          font-weight: bold;
        }
      }

      &:nth-last-child(2):after {
        display: none;
      }
    }
  }

  h3, h2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  p {
    margin: 0;
  }

  h3, h2 {
    margin-bottom: $base-dimension;
  }

  &__transport {
    font-weight: bold;
  }

  &__discount {
    float: right;

    &--original {
      text-decoration: line-through;
      color: $original-value-color;
    }
  }
}
