@import url('https://fonts.googleapis.com/css?family=Roboto:300');

$background-color: #e2e1e0;

html {
  min-height: 100%;
  font-size: 62.5%; // For rem units support
}

body {
  background: $background-color;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  // Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
